page-feed {
    .cor1{
        background-color: black;
    }

    .cor{
        background-color: black;
    }
    .button{
        color:white;
    }
    .title{
        text-decoration-color:white ;
    }
}
h2.feed_title {
    color: white;
    font-weight: bold;
}
p.title {
    color: white;
    font-weight: bold;
}